.splash {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
  
    .logo {
      width: 80%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  
    .title {
      margin: 0;
      text-align: center;
      font-size: 3rem;
      color: $primary-color;
    }
  }

  .loader-container {
    background-image: -webkit-linear-gradient(135deg, $primary-color 40%, $white 0%);
    display: flex;
    flex-direction: row;

    .infos-container {
      display: flex;
      flex-direction: column;
      margin-top: auto;

      .progress-text {
        color: $secondary-color;
      }

      .version {
        color: $primary-color;
        font-weight: bold;
      }
    }

    .loader {
      margin-left: auto;
      padding: $space;

      .loader-hidden {
        display: none;
      }

      .loader-inner {
        display: block;
      }
    }
  }
}
