@import './variables';
@import './mixins';

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 100% $font-stack;
  // color: $primary-color;
  // background-color: $secondary-color;
}

#root,
.app,
.editor {
  height: 100%;
  width: 100%;
}

.app,
.editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
