@import './base';

.splash {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;

    .logo {
      width: 100%;
      height: auto;
    }

    .title {
      margin: 0;
      text-align: center;
      font-size: 3rem;
      color: $secondary-color;
    }
  }

  .loader-container {
    background-image: -webkit-linear-gradient(135deg, $primary-color 40%, $white 0%);

    .loader {
      display: flex;
      padding: $space;

      .loader-hidden {
        display: none;
      }

      .loader-inner {
        display: block;
        margin-left: auto;
      }
    }
  }
}
