.home-page {
  display: flex;
  flex-direction: column;

  .page-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    padding: $space;
    text-align: center;

    h1 {
      font-size: 5rem;
      margin-bottom: 6rem;
    }

    .description {
      font-size: 1.5rem;
      margin-bottom: 3rem;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }

    .buttons {
      font-size: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }
  }
}
